<h6> <%= reply.user.name %> </h6>
<%= turbo_frame_tag "edit_reply" do %>
    <%= reply.body %>
    <% if current_user == reply.user %>
      <%= link_to "Edit", "/posts/#{reply.post.id}/comments/#{reply.parent.id}/replies/#{reply.id}/edit" %>
      <%= link_to "Delete", "/posts/#{reply.post.id}/comments/#{reply.parent.id}/replies/#{reply.id}", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?" }%>
    <% end %>
<% end %>