<%= turbo_frame_tag "edit_reply" do %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(@reply.errors.count, "error") %> prohibited this article from being saved:</h6>

      <ul>
        <% @reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: [@post, @reply], url: post_comment_reply_path(@post, @comment, @reply, comment_id: params[:comment_id], post_id: params[:post_id], id: params[:id]), method: :patch do |form| %>
    <div class="d-block input-group border">
      <div>
        <%= form.text_area :body, class:"form-control border-none" %>
      </div>
      <div>
        <label for="image-upload">
          <span role="button" class="ms-4"> <%= inline_svg_tag("svgs/image.svg", size: "24px") %></span>
        </label>
        <%= form.file_field :image, id: "image-upload", class: "d-none" %>
      
        <span class="float-end me-4">
          <%= form.button(type: 'submit', class: "btn btn-link p-0") do %>
            <%= inline_svg_tag('svgs/send.svg', size: '24px') %>
          <% end %>
      </span>
      </div>
    </div>
  <% end %>
<% end %>