<%= turbo_frame_tag "edit_reply" do %>
  <% if @reply.errors.any? %>
    <div id="error_explanation">
      <h6><%= pluralize(@reply.errors.count, "error") %> prohibited this article from being saved:</h6>

      <ul>
        <% @reply.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with model: [@post, @reply], url: post_comment_reply_path(@post, @comment, @reply, comment_id: params[:comment_id], post_id: params[:post_id], id: params[:id]), method: :patch do |form| %>
    <div>
      <%= form.label :body %>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit "submit" %>
    </div>
  <% end %>
<% end %>