<h6> <%= comment.user.name %> </h6>
<%= turbo_frame_tag "edit_comment" do %>
    <%= comment.body %>
    <% if current_user == comment.user %>
      <%= link_to "Edit", "/posts/#{comment.post.id}/comments/#{comment.id}/edit" %>
      <%= link_to "Delete", "/posts/#{comment.post.id}/comments/#{comment.id}", data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?" }%>
    <% end %>
  <% end %>
  <% if comment.liked_by?(current_user) %>
    <% like = Like.find_by(user_id: current_user.id, likable_id: comment.id, likable_id: "Comment")%>
    <%= button_to "unlike", "like/#{like.id}", method: :delete %>
  <% else %>
    <%= button_to "like", likes_path(likable_id: comment.id, likable_type: "Comment"), method: :post %>
  <% end %>
  <%= comment.likes.count %> <%= comment.likes.count == 1 ? "Like" : "Likes" %>
<%= turbo_frame_tag "new_reply" do %>
  <%= link_to "reply", new_post_comment_reply_path(comment.post, comment, parent_id: comment.id), class: "btn btn-primary" %>
<% end %>

<% if comment.replies.any? %>
  <div class="container">
    <h6> Replies </h6>
    <% comment.replies.each do |reply| %>
      <%= render 'replies/reply', reply: reply %>
    <% end %>
  </div>
<% end %>
