<h6> <%= comment.user.name %> </h6>
<%= render 'shared/post_template', post: comment %>
<%= turbo_frame_tag "new_comment" do %>
  <%= link_to "reply", new_post_comment_path(comment), params: {parent_id: comment.id}, class: "btn btn-primary" %>
<% end %>

<% if comment.replies.any? %>
  <div class="container">
    <h6> Replies </h6>
    <%= render 'comments/replies', collection: comment.replies, as: :reply %>
    <% comment.replies.each do |reply| %>
      <%= render 'comments/comment', comment: reply %>
    <% end %>
  </div>
<% end %>
