<div class="container">
  <h1> Profile </h1>

  <% if @user.name %>
    <p> <%= @user.name %> </p>
    <h4> Bio: </h4>
    <p> <%= @user.bio %> </p>
  <% else %>
    <% if @user == current_user %>
    <p><strong>Your profile isn't complete, you should add a name and bio
        <%= link_to "here", edit_user_path(current_user)%></strong></p>
    <% end %>
  <% end %>

  <% if @user == current_user %>
    <%= turbo_frame_tag "new_post" do %>
      <%= link_to "Create a new post", new_post_path, class: "btn btn-primary" %>
    <% end %>
  <% end %>

  <% if @user.posts %>
    <% @user.posts.each do |post| %>
      <p> <strong> <%= post.user.name %> </strong> </p>
      <div>
        <%= post.body %>
        <% if current_user == post.user %>
          <%= link_to "Edit", edit_post_path(post) %>
          <%= link_to "Delete", @post, data: {
                        turbo_method: :delete,
                        turbo_confirm: "Are you sure?" }%>
        <% end %>
        <%= turbo_frame_tag "new_comment" do %>
          <%= link_to "Comment", new_post_comment_path(post), class: "btn btn-sm btn-primary"%>
        <% end %>
        <% if post.comments %>
          <% post.comments.each do |comment| %>
            <div class="container">
              <p> <strong> <%= comment.user.name %> </strong> </p>
              <div>
                <%= comment.body %>
                <% if current_user == comment.user %>
                  <%= link_to "Edit", edit_post_comment_path(post, comment) %>
                  <%= link_to "Delete", @comment, data: {
                              turbo_method: :delete,
                              turbo_confirm: "Are you sure?"} %>
                <% end %>
              </div>
            </div>
            <%= turbo_frame_tag "new_comment" do %>
              <%= link_to "reply", new_post_comment_path(post), params: {parent_id: comment.id}, class: "btn btn-primary" %>
            <% end %>
          <% end %>
          
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>