<div class="container">
  <h1> Profile </h1>

  <% if @user.name %>
    <p> <%= @user.name %> </p>
    <% if @user.avatar.attached? %>
      <%= image_tag @user.avatar.variant(resize_to_limit: [200, 200]) %>
    <% end %>
    <h4> Bio: </h4>
    <p> <%= @user.bio %> </p>
  <% else %>
    <% if @user == current_user %>
    <p><strong>Your profile isn't complete, you should add a name and bio
        <%= link_to "here", edit_user_path(current_user)%></strong></p>
    <% end %>
  <% end %>

  <% if @user == current_user %>
    <%= turbo_frame_tag "new_post" do %>
      <%= link_to "Create a new post", new_post_path, class: "btn btn-primary" %>
    <% end %>
  <% end %>




<% if @user.posts.any? %>
  <% @user.posts.each do |post|%>
    <%= render 'posts/post', post: post %>
  <% end %>
<% end %>
