<%= form_with model: model do |form| %>
  <div class="d-block input-group bg-light-blue border">
    <% if params[:parent_id] %>
      <%= form.hidden_field :parent_id, value: params[:parent_id] %>
    <% end %>
    <div>
      <%= form.text_area :body, class: "form-control bg-light-blue border-none" %>
    </div>
    <div>
      <label for="image-upload">
        <span role="button" class="ms-4"> <%= inline_svg_tag("svgs/image.svg", size: "24px") %></span>
      </label>
      <%= form.file_field :image, id: "image-upload", class: "d-none" %>

      <span class="float-end me-4">
        <%= form.button(type: 'submit', class: "btn btn-link p-0") do %>
          <%= inline_svg_tag('svgs/send.svg', size: '24px') %>
        <% end %>
      </span>
    </div>
  </div>
<% end %>