<h4> <%= post.user.name %> </h4>
<%= turbo_frame_tag "edit_post" do %>
  <%= post.body %>
  <% if current_user == post.user %>
    <%= link_to "Edit", edit_post_path(post) %>
    <%= link_to "Delete", @post, data: {
                            turbo_method: :delete,
                            turbo_confirm: "Are you sure?" }%>
  <% end %>
<% end %>
<%= turbo_frame_tag "new_comment" do %>
  <%= link_to "Comment", new_post_comment_path(post), class: "btn btn-primary" %>
<% end %>

<% if post.comments.any? %>
  <div class="container">
    <h5> Comments </h5>
    <% post.comments.each do |comment| %>
      <% if comment.parent == nil %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    <% end %>
  </div>
<% end %>